@CHARSET "ISO-8859-1";
 /* Set black background color, white text and some padding */
 .footer {
   background-color: #555;
   color: white;
   padding: 15px;
 }
  #header {
   background-color: #555;
   color: white;
   text-align: center;
   padding: 10px;
 }
 .navbar-default {
 
    display: inline-block;
    float: none;
   
}

.navbar-defaul .navbar-collapse {
    text-align: center;
}