@CHARSET "UTF-8";

body {
  
}
header a{
	text-decoration: none;
}
nav {
	
}

nav ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#77f9ec;
    display:list-item;
    position: relative;
	
}
nav li{
	
}

nav li a{
	display: inline;
	float: left;
	position: relative;
	text-decoration: none;
	background-color:#77f9ec;
	padding: 10px 10px;
    text-align: center;
    display: inline-block; 
}

nav a:HOVER {
	color: #00ffff;
	background-color:#000080;
}

main ul {
	list-style: none;
}

main a{
	text-decoration: none;
	background-color:#77f9ec;
	padding: 10px 10px;
    text-align: center;
    display: inline-block;
    border-style: solid;
    border-width: medium;
    border-color: #0080c0;
    border-radius: 15px;
}

main a:HOVER {
	color: red;
	border-color: red;
}

.mensaje{
	font-size : 150%;
	background-color:#ffdd97;
	border-color: #ffb900;
	color: #ff8040;
	width: auto;
	border-style: solid;
	text-align: center;
}
.formularioLogin{
	border-color: #71b8ff;
	border-style: solid;
	width: 30%;
	margin: 0 auto;
	text-align: center;
	 background-color: #71b8ff;
	color: #f1f1f1;

}
 .formulario{
    padding: 12px 20px;
    box-sizing: border-box;
 	width: 100%;
 	background-color: #f1f1f1;
 	display: block;
 }
 .formulario [type=text], [type=password], [type=submit]{
    padding: 12px 20px;
 	width: 80%;
 	border-radius: 4px;
 	border: none;
 	
 }
 .formulario [type=submit]{
	background-color: #71b8ff;
	color: #f1f1f1;
}

.formulario label {
	background-color: #71b8ff;
	color: #f1f1f1;
	 padding: 10px 15px;
 	border: none;
 	display: block;
 	float:left;
 	margin:  0 0 0 6%;
 	width: 15%;
 	
}
.formulario select {
	
	 padding: 12px 20px;
 	border: none;
 	display: block;
 	width: 67%;
}

.cerrarSesion{
	background-color: #71b8ff;
	color: #f1f1f1;
 	float:right;
 	position: relative;
 	display: inline-block;
}
 	