@CHARSET "UTF-8";

body {
  
}
header a{
	text-decoration: none;
}
nav {
	
}

nav ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#09c1af;
    display:list-item;
    position: relative;
	
}
nav li{
	
}

nav li a{
	display: inline;
	float: left;
	position: relative;
	text-decoration: none;
	background-color:#09c1af;
	padding: 10px 10px;
    text-align: center;
    display: inline-block; 
}

nav a:HOVER {
	color: #09c1af;
	background-color:#77f9ec;
	
}

main ul {
	list-style: none;
}

main a{
	text-decoration: none;
	background-color:#77f9ec;
	padding: 10px 10px;
    text-align: center;
    display: inline-block;
    border-style: solid;
    border-width: medium;
    border-color: #0080c0;
    border-radius: 15px;
}

main a:HOVER {
	color: red;
	border-color: red;
}

.mensaje{
	font-size : 150%;
	background-color:#ffdd97;
	border-color: #ffb900;
	color: #ff8040;
	width: auto;
	border-style: solid;
	text-align: center;
}
.formulario{
	border-radius:10px;
	width: 25%;
	margin: 0 auto;
	text-align: center;
	background-color: #71b8ff;
	color: #f1f1f1;
	 box-shadow: inset 0px 0px 50px #71b8ff,
                    0px 0px 50px #71b8ff; 
}
 .formulario h2{
 	padding: 10px 0 0 0;
 }
 .formularioInput{
    padding: 12px 20px;
    box-sizing: border-box;
 	width: 100%;
 	background-color: #f1f1f1;
 	display: block;
 	
 }
 .formularioInput [type=text], [type=password], [type=submit]{
    padding: 12px 20px;
 	width: 80%;
 	border-radius: 4px;
 	border: none;
 	
 }
 .formularioInput [type=submit]{
	background-color: #71b8ff;
	color: #f1f1f1;
}

.formularioInput label {
background-color: #71b8ff;
	color: #f1f1f1;
	 padding: 10px 20px 10px 10px;
 	border: none;
 	display: block;
 	float:left;
 	margin:  0 0 0 4%;
 	width: 15%;	
 	
 	
}
.formularioInput select {
	
	 padding: 12px 20px;
 	border: none;
 	display: block;
 	width: 67%;
}
.finalForm{
	border-radius:0px 0px 8px 8px;
}

.cerrarSesion{
 	float:right;
 	position: relative;
 	display: inline-block;
}
.userLogin{
	padding: 10px 10px;
	color: #f1f1f1;
}

footer{
	 width: 99%;
    bottom: 5px;
    position: absolute;
	
}

 	